.main_chat
  .main__header 
    .main__header__LeftBox
      .main__header__LeftBox__GroupName
        = @group.name
      .main__header__LeftBox__MemberName
        Member: 
        - @group.group_users.each do |group_user|
          = group_user.user.name
    .main__header__RightBox
      = link_to edit_group_path(@group) do
        .main__header__RightBox__EditBtn
          Edit

  .messages
    = render @messages

  .form
    = form_for [@group, @message] do |f|
      .form__box
        = f.text_field :content, class: 'form__box__message', placeholder: 'type a message'
        = f.label :image, class: 'form__box__mask' do
          = icon('fas', 'image', class: 'form__box__mask__icon')
          = f.file_field :image, class: 'hidden'
      = f.submit 'Send', class: 'form__submit'
