.main_chat
  .main__header 
    .main__header__LeftBox
      .main__header__LeftBox__GroupName
        test
      .main__header__LeftBox__MemberName
        Member: name
    .main__header__RightBox
      = link_to "#" do
        .main__header__RightBox__EditBtn
          Edit

  .messages
    = render @messages

  .form
    = form_for [@group, @message] do |f|
      .form__NewMessage
        = f.text_field :content, class: 'form__NewMessage__text', placeholder: 'type a message'
        = f.label :image, class: 'form__NewMessage__image' do
          = icon('fas', 'image', class: 'icon')
          = f.file_field :image, class: 'hidden'
      = f.submit 'Send', class: 'form__SubmitBtn'
