.side_bar
  .side_bar__header
    .side_bar__header__box
      %p.side_bar__header__box__UserName
        = current_user.name
      %ul.side_bar__header__box__Menu
        %li.side_bar__header__box__Menu__NewGroup
          = link_to new_group_path(current_user) do
            = icon('far', 'edit')
        %li.side_bar__header__box__Menu__EditUser
          = link_to edit_user_path(current_user) do
            = icon('fas', 'cog')
        
  .side_bar__groups
    - current_user.groups.each do |group|
      .group
        = link_to group_messages_path(group)  do
          .group__name
            = group.name
          .group__message
            まだメッセージがありません